{% extends "bootstrap/base.html" %}

{% block content %}
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
            <th>Here are {{passwords|length}} generated passwords:</th>
            </tr>
        </thead>
        <tbody>
            <ul>
            {% for i in range(0, passwords|length) %}
            <tr>
            <td><li>{{passwords[i]}}</li></td>
            </tr>
            {% endfor %}
            </ul>
        </tbody>
    </table>
</div>
<div class="row">
<form class="" action="/" method="get">
    <button class="btn btn-primary btn-lg btn-block">Go back</button>
</form>
</div>
{% endblock %}